.mainform {
  float: none;
  margin: 0 auto;
  width: 50%;
}

.mainform > .formInput{
  margin: 0 auto;
  width: 80%;
}

.mainform > #submitButton{
  margin: 0 auto;
  width: 80%;
}

.formContainer {
  text-align: center;
  margin-left:auto;
  margin-right:0;
  width: 50%;
}